@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Merriweather&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .spinner {
        @apply inline-block w-4 h-4 border-2 border-current border-r-transparent rounded-full animate-spin;
    }
}

@layer base {
    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }
}
